

.custom-style-left{
    right: -180px !important;
}

/*------ drop down ------*/
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
/*------ [END] drop down ------*/
/*------ delete product pop up ------*/
 .popik{
     position: absolute;
     right: 27%;
     width: 50%;
     top: -150px;
     margin-top: 20vh;
     z-index: 999999999999999;
 }
.popik-back{
    display: none;

}
.delete-active-pop {
    display: block;
}
.delpopup-bacground{
    width: 100%;
    height: 100vh;
    background: #000000a6;
    top: 0;
    left: 0;
    z-index: 999999999;
    position: fixed;
}
.modal-title{
    padding-top: 23px;
    justify-content: center;
    text-align: center;
}
.icon-popup-delete{
    zoom: 5;
    color: #910404;
    margin: 0 auto;
    display: table;
}
.close-x{
    margin: 30px;
}
.modal-content{
    border-radius: 56px;
    height: 100%;
    width: 85%;
    margin: 0 auto;
    background: aliceblue;
}
.modal-footer{
    justify-content: center
}
.modal-footer button{
    width: 45%;
    border-radius: 69px;
}
/*------ [END] delete product pop up ------*/


/*------ checkbox in gallery ------*/
/*checkbox in gallery*/
.ext-cross:before, .checkbox__checker:before, .checkbox__cross:before, .checkbox__ok:before, .ext-cross:after, .checkbox__checker:after, .checkbox__cross:after, .checkbox__ok:after {
    content: "";
    display: block;
    position: absolute;
    width: 14px;
    height: 2px;
    margin: 0 auto;
    top: 20px;
    left: 0;
    right: 0;
    background-color: #bf1e1e;
    border-radius: 5px;
    transition-duration: 0.3s;
}
.ext-cross:before, .checkbox__checker:before, .checkbox__cross:before, .checkbox__ok:before {
    transform: rotateZ(45deg);
}
.ext-cross:after, .checkbox__checker:after, .checkbox__cross:after, .checkbox__ok:after {
    transform: rotateZ(-45deg);
}

.ext-ok:before, .checkbox__ok:before, .checkbox__toggle:checked + .checkbox__checker:before, .ext-ok:after, .checkbox__ok:after, .checkbox__toggle:checked + .checkbox__checker:after {
    background-color: #0cb018;
}
.ext-ok:before, .checkbox__ok:before, .checkbox__toggle:checked + .checkbox__checker:before {
    width: 6px;
    top: 23px;
    left: -7px;
}
.ext-ok:after, .checkbox__ok:after, .checkbox__toggle:checked + .checkbox__checker:after {
    width: 12px;
    left: 5px;
}

.checkbox {
    width: 100px;
    margin: 0 auto 30px auto;
}
.checkbox__container {
    display: block;
    position: relative;
    height: 42px;
    cursor: pointer;
}
.checkbox__toggle {
    display: none;
}
.checkbox__toggle:checked + .checkbox__checker {
    left: calc(100% - 43px);
    transform: rotateZ(360deg);
}
.checkbox__checker, .checkbox__cross, .checkbox__ok {
    display: block;
    position: absolute;
    height: 43px;
    width: 43px;
    top: -1px;
    left: 0px;
    z-index: 1;
}
.checkbox__checker {
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    z-index: 2;
}
.checkbox__checker:before, .checkbox__checker:after {
    transition-duration: 0.3s;
}
.checkbox__cross:before, .checkbox__cross:after, .checkbox__ok:before, .checkbox__ok:after {
    background-color: #ddd;
}
.checkbox__ok {
    left: calc(100% - 43px);
}
.checkbox__bg {
    position: absolute;
    top: 0;
    left: 0;
    fill: #aaa;
    width: 100%;
    height: 100%;
}

.icon-input-color{
    top: 45%;
    left: 91%;
    position: absolute;
    width: 53px;
    height: 38px;
    padding: 6px;
    padding-left: 17px;
    background: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0px 5px 5px 0px;
}

.icon-color{
    zoom: 1.5;
}
/*------ [END] checkbox in gallery ------*/





/*----------- gallery edit image --------------*/


.create-button{
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    box-shadow: none;
    width: 75px;
    height: 44px;
    padding: 10px;
    padding-left: 17px;
    float: right;
    border-radius: 8px;
}
.create-button:hover{
    color: #fff;
    background-color: #238b3b;
}
.del-clic{
    color: red;
    position: absolute;
    right: 16px;
    top: 4px;
    cursor: pointer;
    font-size: 25px;
}
.clas-del{
    position: relative;
}
.clas-del img{
    width: 100%;
    margin-bottom: 15px;
}
.addImg{
    width: 100%;
}
/*----------- [END] gallery edit image --------------*/

