.main {
    padding-top: 100px;
    margin-top: 0;
}
.custom-nav-bar{
    position: absolute;
    width: 100%;
    z-index: 2;
}
.custom-info-line-home-page{
    display: inline-flex;
    position: absolute;
    top: 73px;
    z-index: 1;
}


.custom-info-line-home-page-view-all-show {
    height: 191px;
    transition-delay: 100ms;
    transition-property: height;
    transition-duration: 1s;
}

.custom-info-line-home-page-view-all-hide {
    height: 48px;
    transition-delay: 100ms;
    transition-property: height;
    transition-duration: 1s;
}

.bottomSection_img img{
    border-radius: 10px;
}

.custom-button-header-info{
    margin-top: -1px;
    float: left;
}

.custom-hidden-small-text{
    margin-left: 40px;
}

.custom-header-div{
    position: relative;
    display: contents;
}
.custom-header-image-home-page{
    padding: 10%;
    position: absolute;
    top: 0;

}
.header-homePage {
    width: 100%;
    min-height: 1005px;
    background: url(../image/headerImg.png) no-repeat scroll center;
}
.custom-text-center-head{
    padding: 30px;
}

.custom-line-height{
    line-height: 1.5;
}

/*.dropdown-menu li a{*/
/*    color: #00000099 !important;*/
/*}*/

.dropdown_menu .dropdown-menu {
    width: 100%;
    min-height: auto;
    min-width: 252px;
    background: rgba(21, 104, 174, 0.5);
    backdrop-filter: blur(6px);
    border-radius: 0 0 0 3px;
    top: 56px;
    border: none;
    border-left: 1px solid #fff;
}
.dropdown-menu-tab {
    /*top: 0px;*/
    /*height: -webkit-fill-available;*/
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #0065f938;
}

.custom-hotel-single{
    color: black;
    text-decoration: none;
}
.custom-hotel-single:hover{
    color: grey;
}
.see-allBtn p {
    border: none;
    background: none;
    width: 100%;
    height: 100%;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    display: contents;
    cursor: pointer;
}
.top-img_right img {
    border-radius: 10px;
}
.leftside-detailsImg img{
    border-radius: 10px;
}
.destination_section-box{
    z-index: 1;
}

.destination_section-box img{
    border-radius: 10px;
}
@media (max-width:1400px) {
    .dropdown_menu .dropdown-menu{
           position: absolute;
           left: 0px;
           top: 100% !important;
           height: auto !important;
           border: 0px;
       }

    .dropdown-menu-tab{
        background: #4a8ac0 !important;
    }
    .dropdown-submenu{
        position: relative;
    }
}

@media (max-width:1024px) {
    .header-homePage {
        min-height: 1005px;
    }

    .custom-text-center-head{
        padding: 7%;
        text-align: center;
        margin-bottom: 0px !important;
    }

    .custom-iframe-head{
        margin: 0 auto;
    }

    .custom-info-head{
        justify-content: center;
        display: flex;
    }
}

@media (max-width:768px) {
    .custom-text-center-head {
        padding-top: 89px;
    }
    .header-orangeHeader{
        height: 68px;
    }
    .font_weight600{
        padding: 2px;
    }
    /*.dropdown_menu .dropdown-menu{*/
    /*    position: absolute;*/
    /*    left: 0px;*/
    /*    top: 100% !important;*/
    /*    height: auto !important;*/
    /*    border: 0px;*/
    /*}*/

    /*.dropdown-menu-tab{*/
    /*    background: #4a8ac0 !important;*/
    /*}*/
    /*.dropdown-submenu{*/
    /*    position: relative;*/
    /*}*/

    .custom-info-line-home-page-view-all-show {
        height: 300px;
        transition-delay: 100ms;
        transition-property: height;
        transition-duration: 1s;
    }

    .custom-info-line-home-page-view-all-hide {
        height: 48px;
        transition-delay: 100ms;
        transition-property: height;
        transition-duration: 1s;
    }

}





/*=================================================================================*/

