@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap'); 

.header_navbar .header_navbarNav .font_style,
.header_navbar .header_navbarNav .font_style.active,
.header_navbar .header_navbarNav .font_style:active,
.font_style {
    font-family: 'Cairo',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */  
    color: #FFFFFF;   
    text-decoration: none;
}
.font_style_orange {
    font-family: 'Cairo',sans-serif;
    font-style: normal;
    font-size: 28px;
    line-height: 52px;
    /* branb color */
    background: linear-gradient(101.63deg, #FEBC11 1.52%, #F37121 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.white_title {    
    font-family: 'Cairo',sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 128px;
    line-height: 100px;
    /* identical to box height */
    color: #FFFFFF;
}
.subtitle {
    font-family: 'Cairo',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    /* line-height: 45px; */
    /* identical to box height */
    /* branb color */
    background: linear-gradient(101.63deg, #FEBC11 1.52%, #F37121 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.main_title {
    font-family: 'Cairo',sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 36px;
    /* identical to box height */
    text-transform: capitalize;
    color: #1568AE;
}
.black_title {
    font-family: 'Cairo',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 45px;
    /* identical to box height */
    color: #000000;
}
.font_text_gray {
    font-family: 'Cairo',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    /* or 21px */
    color: #646464; 
}
.font_style_red {
    font-family: 'Cairo',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    /* or 31px */
    color: #CF142B;
}
.main_text {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #333333;
}
.general_font {
    font-family: 'Cairo',sans-serif;
    font-style: normal;
}
.font_size18 {
    font-size: 18px;
}
.general_font_size20 {
    font-size: 20px;
}
.general_font_size24 {
    font-size: 24px;
}
.general_font_size36 {
    font-size: 36px;
}
.font_weight600 {
    font-weight: 600;
}
.font_weight700 {
    font-weight: 700;
}
.font_weight800 {
    font-weight: 800;
}
.main_title_white {
    color: #FFFFFF;
}
.subtitle_blue {
    color: #1568AE;
}
.line_height {
    line-height: 0;
}
