
.container_1640 {
    width: 100%;
    max-width: 1640px;
    padding: 0 100px;
    margin: auto;
}
.header-homePage {
    width: 100%;
    min-height: 1005px;
    background: url('../image/headerImg.png') no-repeat scroll center;
}
.header-pageHeader {
    width: 100%;
    min-height: 73px;
    background: rgba(21, 104, 174, 0.5);
    backdrop-filter: blur(6px);
}
.dropdown_menu .dropdown-menu {
  width: 252px;
  min-height: 366px;
  background: rgba(21, 104, 174, 0.5);
  backdrop-filter: blur(6px);
/* Note: backdrop-filter has minimal browser support */
  border-radius: 0 0 0 3px;
  top: 56px;
  border: none;
  border-left: 1px solid #fff;
}
.dropdown-submenu,
.dropdownMenu > li {
    height: 38px;
    padding: 0 15px;
}
.dropdown-submenu > a,
.dropdownMenu > li a {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-transform: capitalize;
    color: #FFFFFF;
    text-decoration: none;
}
.dropdown-submenu:hover {
    background-color: #1568AE80;
}
.dropdown-submenu:hover .caret {
    transform: rotate(180deg);
}
.showNavItems {
    display: block;
}
.hiddenNavItems {
    display: none;
}
.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    position: absolute;
}
.header-orangeHeader {
    width: 100%;
    height: 48px;
    background: linear-gradient(101.63deg, #FEBC11 1.52%, #F37121 100%);
    top: 70px;
}
.header-orangeHeader_content {
    width: 100%;
    max-width:620px;
    height: 30px;
}
.addBtn {
    border: none;
    background: none;
    width: 100%;
    max-width: 24px;
    height: 24px;
}
.addBtn  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.headerIntro {
    margin-top: 130px;
}
.introLeft {
    width: 100%;
    max-width: 463px;
    height: 599px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 10px;
}
.introRight {
   width: 100%;
   max-width: 920px;
}
/* main */
.main {
  margin-top: 100px ;
}
.introCarousel_item {
    width: 100%;
    max-width: 463px;
    height: 677px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(174, 174, 174, 0.25);
    border-radius: 6px;
}
.introCarousel_itemImg {
    width: 100%;
    height: 460px;
}
.introCarousel_itemImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.introCarousel_icon {
    width: 100%;
    max-width: 32px;
    height: 28px;
}
.introCarousel_icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.detailArrow {
    width: 100%;
    max-width: 17px;
    height: 11px;
}
.detailArrow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main_introCarousel .owl-nav .nav_button_prev,
.main_introCarousel .owl-nav .nav_button_next,
.singlePageCarousel .owl-nav .nav_button_prev,
.singlePageCarousel .owl-nav .nav_button_next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    width: 100%;
    max-width: 87px;
    height: 87px;
}
.main_introCarousel .owl-nav .nav_button_prev img,
.main_introCarousel .owl-nav .nav_button_next img,
.singlePageCarousel .owl-nav .nav_button_prev img,
.singlePageCarousel .owl-nav .nav_button_next img {
    width: 100%;
    height: 100%;
}
.main_introCarousel .owl-nav .nav_button_prev,
.singlePageCarousel .owl-nav .nav_button_prev{
    left: -55px;
}
.main_introCarousel .owl-nav .nav_button_next,
.singlePageCarousel .owl-nav .nav_button_next {
    right:-55px;
}
.main_introCarousel .owl-nav .nav_button_prev:hover,
.main_introCarousel .owl-nav .nav_button_next:hover,
.singlePageCarousel .owl-nav .nav_button_prev:hover,
.singlePageCarousel .owl-nav .nav_button_next:hover {
    background: none;
}
.main_blueSection {
    width: 100%;
    min-height: 793px;
    background: #1568AE;
}
.flight_section {
    gap: 20px;
}
.flight_section-box {
    width: 100%;
    max-width: 463px;
    min-height: 166px;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
}
.fligth_section-boxTop {
    width: 100%;
    max-width: 185px;
}
.dirChangeBtn {
    border: none;
    background: none;
    width: 100%;
    max-width: 24px;
    height: 24px;
}
.dirChangeBtn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.flight_section-boxImg {
    width: 100%;
    max-width: 84px;
    height: 33px;
}
.flight_section-boxImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.seeMore {
    border: none;
    background: none;
}
/* bottom main */
.bottomSection_img {
    width: 100%;
    max-width: 708px;
    height: 423px;
}
.bottomSection_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bottomSection_right {
    width: 100%;
    max-width: 707px;
}

/* destination page */
.destination_section {
    gap: 20px;
}
.destination_section-box {
   width: 100%;
   max-width: 341px;
   height: 280px;
   position: relative;
   cursor: pointer;
   z-index: -13;
}
.destination_section-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.backdrop_filter {
    background: linear-gradient(180deg, rgba(21, 104, 174, 0) 0%, #1568AE 100%);
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 0px 0px 6px 6px;
    height: 52px;
    bottom: 0;
    right: 0;
}
/* destination single page */
.header-singlePage {
   width: 100%;
   height: 700px;
   background: url('../image/headerBgIMg.png') no-repeat scroll center;
}
.leftsideSingle {
    width: 100%;
    max-width: 1074px;
}
.listStyleBlue {
    list-style: none;
}
.listStyleBlue > li::before {
    content: '';
    display: inline-block;
    height: 14px;
    width: 15px;
    background-size: cover;
    background-image: url('../image/location-arrow.png');
    background-repeat: no-repeat;
    margin-right: 10px;
    background-position: center center;
    vertical-align: middle;
}
.rightsideSingle {
    width: 100%;
    max-width: 341px;
    min-height: 630px;
    /* secondary color */
    background: #1568AE;
    box-shadow: 0px 4px 20px rgba(218, 218, 218, 0.25);
    border-radius: 6px;
    /* z-index: -10; */
}
/* .rightsideShadow {
    position: absolute;
    right: 0;
    top: 9%;
    width: 84px;
     height: 26px;
    z-index: 2;
    background: linear-gradient(270deg, #1568AE 0%, rgba(21, 104, 174, 0) 100%);
} */
.hotel_info_carousel .owl-nav .navBtnPrev {
    display: none;
}
.hotel_info_carousel .owl-nav .navBtnNext {
    position: absolute;
    right:-25px;
    top: -5px;
    width: 84px;
    height: 26px;
    background: linear-gradient(270deg, #1568AE 0%, rgba(21, 104, 174, 0) 100%);
    display: flex;
    justify-content: end;
}
.hotel_info_carousel .owl-nav .navBtnNext:hover {
    background: linear-gradient(270deg, #1568AE 0%, rgba(21, 104, 174, 0) 100%);
}
.reviewSection_star > img {
    width: 100%;
    max-width: 20px;
    height: 20px;
}
.reviewSection_star {
    width: 100%;
    max-width: 118px;
}
.singlePageCarousel-item {
    width: 100%;
    max-width: 341px;
    height: 341px;
}
.singlePageCarousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* package info */
.header_intro {
    width: 100%;
    height: 741px;
    z-index: -10;
}
.iframe_item1 {
    background: url('../image/videoBgImg.png');
    background-size: cover;
    width: 100%;
    height: 741px;
}
.playBtn {
    border: none;
    background: none;
    width: 100%;
    max-width: 94px;
    height: 94px;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.playBtn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.leftsidePackage {
    width: 100%;
    max-width: 1074px;
}
.infoAccordionBtn::before {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 15px;
    content: "";
    background-image: url('../image/accordion-arrow.png');
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}
.infoAccordionBtn:not(.collapsed)::before {
    background-image: url('../image/accordion-arrow.png');
    transform: rotate(90deg);
}
.infoAccordionBtn::after {
    content: "";
    background: none;
}
.infoAccordionBtn:not(.collapsed)::after {
    background: none;
}
.infoAccordionBtn:focus {
    border: none;
    box-shadow: none;
}
.infoAccordionBtn:not(.collapsed) {
    color: #1A1B1C;
    background: none;
}
.rightsidePackage {
    width: 100%;
    max-width: 343px;
    height: 572px;
}
.rightsidePackage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* brochure */
.brochuresLeftside {
    width: 100%;
    max-width: 585px;
    height: 758px;
}
.brochuresLeftside img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.brochureRightside {
    width: 100%;
    max-width: 585px;
}

/* footer */
.footer {
   width: 100%;
   min-height: 345px;
   background: #1568AE;
}
.footer_leftside {
    width: 100%;
    max-width: 341px;
}
.footer_link {
    width: 100%;
    max-width: 100px;
}
.footer_rightside {
    width: 100%;
    max-width: 500px;
}
.icon_section {
    width: 100%;
    max-width: 329px;
}
.footer_copyRight {
    border-top: 1px solid #FFFFFF;
}
/* general style */
.border_right {
    border-right: 1px solid rgba(255, 255, 255, 0.4);
}

/* hotel single page */
/* lightbox */
.hotelSinglePage_lightbox,
.glaryBox {
    gap: 10px;
}
.hotelSinglePage_leftside {
    width: 100%;
    max-width: 1065px;
}
.rightside-detailsImg {
    width: 100%;
    max-width: 346px;
    max-height: 455px;
    position: relative;
    gap: 20px;
}
.top-img_right {
    width: 100%;
    height: 217px;
}
.top-img_right img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.bottom-img-box {
    width: 100%;
    max-width: 250px;
    height: 195px;
}
.bottom-img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.see-allBtn {
    position: absolute;
    bottom: 10px;
    right: 6px;
    width: 100%;
    max-width: 155px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(112.91deg, rgb(18 12 12 / 75%) 3.51%, rgb(0 0 0 / 51%) 111.71%);
  box-shadow: 14.1653px 16.9984px 28.3307px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(19.8315px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 8px;
}
.see-allBtn button {
    border: none;
    background: none;
    width: 100%;
    height: 100%;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */

    letter-spacing: 0.05em;

    color: #FFFFFF;
}

  /* Filter Dropdown */


.leftside-detailsImg {
    width: 100%;
    max-width: 708px;
    height: 455px;
    position: relative;
}
.leftside-detailsImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
/* modal galery */
.img-modalDialog {
    width: 100%;
    max-width: 979px;
    height: 653px;
}
.img-modalContent {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
}
.img-modalHeader {
    border-bottom: none;
}
.slide-box {
    position: relative;
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.my-slides {
    width: 100%;
    height: 450px;
}
.my-slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.column-box {
    float: left;
    width: 100%;
    max-width: 150px;
    height: 100px;
}
.column-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.row-box:after {
    content: "";
    display: table;
    clear: both;
}
.prev-btn_slide, .next-btn_slide {
    cursor: pointer;
    position: absolute;
    top: 40%;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    width: 68px;
    height: 68px;
    background: linear-gradient( 112.91deg, rgba(255, 255, 255, 0.135) 3.51%, rgba(255, 255, 255, 0.0675) 111.71%);
    box-shadow: 25.1435px 30.1721px 50.2869px rgb(0 0 0 / 5%);
    backdrop-filter: blur(35.2008px);
    border-radius: 88.75px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.prev-btn_slide {
    left: -95px;
}
.next-btn_slide {
    right: -95px;
}
/* facility */
.facility_img {
   width: 100%;
   max-width: 24px;
   height: 24px;
}
@media(max-width:1199px) {
    .rightside-detailsImg {
        width: 100%;
        max-width: 714px;
        gap: 20px;
    }
    .prev-btn_slide, .next-btn_slide {
        width: 40px;
        height: 40px;
    }
    .prev-btn_slide {
        left: -20px;
    }
    .next-btn_slide {
        right: -20px;
    }
}
@media (max-width:1024px) {
    .container_1640 {
        padding: 0 30px;
    }
    .main_title {
        font-size: 36px;
    }
    .subtitle,
    .black_title,
    .font_style_red,
    .general_font_size24 {
        font-size: 20px;
    }
    .font_size18 {
        font-size: 16px;
    }
    .font_text_gray {
        font-size: 14px;
    }
    .brochuresLeftside {
        max-width: 540px;
        height: 690px;
    }
    .main_introCarousel .owl-nav .nav_button_prev,
    .main_introCarousel .owl-nav .nav_button_next,
    .singlePageCarousel .owl-nav .nav_button_prev,
    .singlePageCarousel .owl-nav .nav_button_next{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        width: 100%;
        max-width: 50px;
        height: 50px;
    }
    .main_introCarousel .owl-nav .nav_button_prev, .singlePageCarousel .owl-nav .nav_button_prev {
        left: -24px;
    }
    .main_introCarousel .owl-nav .nav_button_next, .singlePageCarousel .owl-nav .nav_button_next {
        right: -24px;
    }
    .introCarousel_item {
        max-width: 400px;
        height: 630px;
    }
    .introCarousel_itemImg {
        height: 350px;
    }
    .white_title {
        font-size: 100px;
    }
    .header-homePage {
        min-height: 1200px;
    }
}
@media (max-width:768px) {
    .container_1640 {
        padding: 0 15px;
    }
    .main_title {
        font-size: 24px;
    }
    .subtitle,
    .black_title,
    .font_style_red,
    .general_font_size24 {
        font-size: 18px;
    }
    .font_size18 {
        font-size: 14px;
    }
    .brochuresLeftside {
        max-width: 463px;
        height: 600px;
    }
    .singlePageCarousel-item {
        max-width: 300px;
        height: 300px;
    }
    .white_title {
        font-size: 60px;
        line-height: 50px;
    }
    .headerIntro {
        margin-top: 0;
    }
    .header-orangeHeader  {
        display: none;
    }
    .header-homePage {
        min-height: 1005px;
    }
    .font_style_orange {
        font-size: 20px;
    }
}
@media(max-width:425px) {
    .dropdown_menu .dropdown-menu {
        width: 170px;
    }
}
